.card-column {
    height: 100%;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

.card-column {
    height: 100%;
    width: 70%;
}

@media (min-width: 1360px) {
    .card-column {
        min-width: 0;
        height: 100%;
        width: 40%;
    }
}




.secondary-card {
    width: 99%;
    height: auto;
    min-height: 250px;
    margin-top: 48px;
    margin-bottom: 48px;
    position: relative;
}
.secondary-card-title {
    width: 100%;
    border-bottom: 1px solid #555555;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-left: 45px;
}
.secondary-card-title span {
    background:#ffffff;
    padding:0 10px;
    font-weight: 400;
    font-size: 1.2em;
}
.secondary-card-author {
    text-align: end;
    margin: 12px 18px 12px 0;
}
a {
    text-decoration: none;
}
.secondary-card-desc {
    padding: 7% 15%;
    margin: 0;
}
.secondary-card-lang {
    text-align: end;
    bottom: 18px;
    right: 18px;
    margin: 0;
    position: absolute;
    font-style: italic;
    font-size: 0.92em;
}
